$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$brand-primary: #A76F94 !default;
$brand-success: #70AA74 !default;
$jumbotron-bg: #ACD0AE !default;

// $primary-color: #A76F94 !default;
// $secondary-color: #70AA74 !default;
$primary-color: #70AA74 !default;
$secondary-color: #A76F94 !default;
$link-color: #ACD0AE !default;
$card-link-color: #A76F94 !default;
// $secondary-bg: #CBA8BF !default;
$secondary-bg: #A56D92 !default;
//$panel-bg: #ACD0AE !default;

$green: (
  "base":       #A76F94,
  "lighten-5":  #E8F5E9,
  "lighten-4":  #C8E6C9,
  "lighten-3":  #A5D6A7,
  "lighten-2":  #81C784,
  "lighten-1":  #66BB6A,
  "darken-1":   #43A047,
  "darken-2":   #388E3C,
  "darken-3":   #2E7D32,
  "darken-4":   #1B5E20,
  "accent-1":    #B9F6CA,
  "accent-2":    #69F0AE,
  "accent-3":    #00E676,
  "accent-4":    #00C853
) !default;

// bower:scss
// endbower
//@import "_bootswatch.scss";

@import "../bower_components/materialize/sass/materialize.scss";

html {
  font-family: 'Roboto', sans-serif;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media screen and (min-width: 0px) {
  body {
    background-color: #4A8E4E;
    background-image:url('/images/blurr-min.jpg');
    //background-repeat:no-repeat;
    //background-size:contain;
    //background-position: center;
    padding: 0;
    //padding-top: 70px;
    color: #707070;
  }
}

@media screen and (min-width: 1000px) {
  body {
    background-color: #4A8E4E;
    background-image:url('/images/blurr-min.jpg');
    //background-repeat:no-repeat;
    background-size:contain;
    //background-position: center;
    padding: 0;
    //padding-top: 70px;
    color: #707070;
  }

}

.marketing-bg {
  background-image:url('/images/bg-fhd-flag-smooth.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center bottom;
  height: 100vh;
}

.flag-bg {
  animation-name: fadein_flag;
  animation-duration: 2s;
}


@media screen and (min-width: 0px) {
  .flag-bg {
    position:absolute;
    right:50px;
    bottom:50px;
  }

  .marketing-body {
    padding-left:10px;
    padding-right: 10px;
  }

  .flag-bg img {
    height:100px
  }
}

@media screen and (min-width: 900px) {
  .flag-bg {
    position:absolute;
    right:50px;
    bottom:100px;
  }

  .flag-bg img {
    height:200px
  }

  .marketing-body {
    padding-left: 40px;
    padding-right: 40px;
  }

  .marketing-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .flag-bg {
    position:absolute;
    right:50px;
    bottom:100px;
  }

  .flag-bg img {
    height:300px
  }

  .marketing-body {
    padding-left:50px;
    padding-right: 50px;
  }

  .marketing-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .flag-bg {
    position:absolute;
    right:50px;
    bottom:200px;
  }
  .flag-bg img {
    height:400px
  }

  .marketing-body {
    padding-left: 50px;
    padding-right: 50px;
  }

  .marketing-text {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1900px) {
  .flag-bg {
    position:absolute;
    right:110px;
    bottom:240px;
  }
  .flag-bg img {
    height:450px
  }

  .marketing-body {
    padding-left: 70px;
    padding-right: 70px;
  }

  .marketing-text {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hide-wall {
  transform: translate(0px, 100px);
  transition: all 1s ease;
}

.side-nav {
  background-color: $secondary-color;
}


.intro-wrapper {
  pointer-events: none;
  width:100%;
  position:fixed; /*You may also use fixed depending on your needs.*/
  left:0;
  top:0; /*If you want it at the bottom you probably want bottom:0 instead*/
  z-index: 999;
}

// .navbar {
//   background-color:#999999;
// }

.container-fluid {

}

.form-control {
  padding-left: 10px !important;
}

[onlick],
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $brand-primary;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $brand-primary;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.top-buffer-sm {
  margin-top: 25px;
}

.top-buffer-md {
  margin-top: 50px;
}

.top-buffer-lg {
  margin-top: 100px;
}

.top-buffer-xl {
  margin-top: 150px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    text-align: center;
    width:100%;

    background-color: white;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
  }
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 15px;
  padding-bottom: 15px;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

nav img {
  margin-top:5px;
}

.modal {
  max-height:90%;
}

.file-input {
  width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 0 20%;
    margin-top: -334px;
    color: #FFF;
    font-weight: bold;
    font-size: 400px;
    opacity: 0;
}

.card {
  animation-name: fadein;
  animation-duration: 1s;
}

.centered {
  text-align: center;
}

.primary-bg {
  background-color: #4A8E4E;
}

.secondary-bg {
  background-color: $secondary-bg;
}

.promo i {
    color: $primary-color;
    font-size: 7rem;
    display: block;
}

.promo-caption {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

.toLeft {
  text-align: left;
}

.no-shadow {
  box-shadow: none;
}

/* ANIMATIONS */
@keyframes fadein {
  from {margin-top:30px; opacity: 0;}
  to {margin-top: $element-top-margin; opacity: 1;}
}

@keyframes fadein_flag {
  from {bottom:0px; opacity: 0;}
  to {opacity: 1;}
}

/* Implement xl screen size */
@media only screen and (min-width: 1600px) {
    .row .col.xl1 {
        width:8.33333%;
        margin-left:0;
    }

    .row .col.xl2 {
        width:16.66667%;
        margin-left:0;
    }

    .row .col.xl3 {
        width:25%;
        margin-left:0;
    }

    .row .col.xl4 {
        width:33.33333%;
        margin-left:0;
    }

    .row .col.xl5 {
        width:41.66667%;
        margin-left:0;
    }

    .row .col.xl6 {
        width:50%;
        margin-left:0;
    }

    .row .col.xl7 {
        width:58.33333%;
        margin-left:0;
    }

    .row .col.xl8 {
        width:66.66667%;
        margin-left:0;
    }

    .row .col.xl9 {
        width:75%;
        margin-left:0;
    }

    .row .col.xl10 {
        width:83.33333%;
        margin-left:0;
    }

    .row .col.xl11 {
        width:91.66667%;
        margin-left:0;
    }

    .row .col.xl12 {
        width:100%;
        margin-left:0;
    }

    .row .col.offset-xl1 {
        margin-left:8.33333%;
    }

    .row .col.offset-xl2 {
        margin-left:16.66667%;
    }

    .row .col.offset-xl3 {
        margin-left:25%;
    }

    .row .col.offset-xl4 {
        margin-left:33.33333%;
    }

    .row .col.offset-xl5 {
        margin-left:41.66667%;
    }

    .row .col.offset-xl6 {
        margin-left:50%;
    }

    .row .col.offset-xl7 {
        margin-left:58.33333%;
    }

    .row .col.offset-xl8 {
        margin-left:66.66667%;
    }

    .row .col.offset-xl9 {
        margin-left:75%;
    }

    .row .col.offset-xl10 {
        margin-left:83.33333%;
    }

    .row .col.offset-xl11 {
        margin-left:91.66667%;
    }

    .row .col.offset-xl12 {
        margin-left:100%;
    }
}
