<ng-include ng-show="loggedin" src="'views/navbar.html'"></ng-include>
<div ng-show="!loggedin && !loading" class="jumbotron" style="margin-top:20px;">
  <p><img src="images/logo-color.png" height="200px"></p>
  <h2>uMaster</h2>
  <p class="lead">
    Be the master of your devices
  </p>
  <p>
    <button class="btn btn-lg btn-primary" ng-click="signin()">Become uMaster</button>
  </p>

  <p class="text-muted">Create activities on your PC that can be activated remotely!</p>
</div>

<div ng-show="!loggedin && loading" class="row" style="text-align:center">
  <h1><i class="fa fa-circle-o-notch fa-spin"></i></h1>
</div>

<div ng-show="loggedin">

  <!-- All scripts section -->
  <div class="row">
    <div ng-repeat="scr in scripts">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align:center">
            <h4>{{scr.name}}</h4>
          </div>
          <div class="panel-body">
            {{scr.description}}
          </div>
          <div class="panel-footer" style="padding:0px;margin:0px">
            <div class="row" style="padding:0px;margin:0px;">
              <div class="btn-group" style="width:100%">
                <button class="btn btn-default btn-block" style="width:100%;" ng-click="runScript(scr)"><i class="fa fa-play text-primary"></i> Run Script</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer" style="width:100%">
    <p class="text-muted" style="font-size:80%;">Developed by  <a href="http://razvanilin.com/">Răzvan Ilin</a> | uMaster </p>
</footer>
