<ng-include ng-if="loggedin" src="'views/navbar.html'"></ng-include>
<!-- <div class="marketing-bg intro-wrapper" ng-class="{'hide-wall': wallHidden}"></div> -->
<div ng-show="!loggedin && !loading" class="marketing-bg top-buffer-sm">
  <div class="row">
    <div class="col s12 m2 center">
      <div class="valign-wrapper hide-on-small-only"><img src="images/logo-color.png" style="max-width: 75px"><span class="flow-text white-text valign">uMaster</span></div>
      <img src="images/logo-color.png" style="max-width: 100px" class="hide-on-med-and-up">
      <a class="white-text typeform-share button" href="https://razvanilin.typeform.com/to/HtfKKN" data-mode="1" target="_blank" style="position:absolute;top:10px;right:10px"><i class="material-icons medium white-text hide-on-med-and-up" style="position:absolute;top:10px;right:10px">lightbulb_outline</i></a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href='';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

    </div>

    <div class="col m10 offset-xl5 xl5 hide-on-small-only right-align">
      <a class="waves-effect waves-light btn btn-flat white-text typeform-share button" href="https://razvanilin.typeform.com/to/HtfKKN" data-mode="1" target="_blank">Suggestions?</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href='';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>

      <a class="waves-effect waves-light btn btn-flat white-text" ng-click="signin()">Login</a>
      <a href="https://umaster-nuts.herokuapp.com/" class="waves-effect waves-light btn btn-flat white-text">Download Client</a>
    </div>
  </div>

  <!-- <div class="top-buffer-sm hide-on-large-only"></div>
  <div class="top-buffer-lg hide-on-med-and-down"></div> -->
  <div class="row">
    <div class="col s12 m12 white-text center">
      <h1>uMaster<small class="grey-text text-darken-5"> alpha</small></h1>
      <span class="flow-text">Running activities on your personal computer remotely</span>
    </div>
  </div>

  <div class="row center">
    <a href="https://twitter.com/intent/tweet?button_hashtag=umaster" class="twitter-hashtag-button" data-size="large" data-text="uMaster: the remote activity runner. Check it out at http://umaster.xyz by @razvanilin" data-show-count="false">Tweet #umaster</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="row">
    <div class="col s12 m12 center">
        <a class="waves-effect waves-light btn-large white-text top-buffer-sm" ng-click="signin()">Become uMaster</a>
        <a href="https://umaster-nuts.herokuapp.com/" class="waves-effect waves-light btn-large white-text top-buffer-sm">Download Client</a>
    </div>
  </div>
  <div class="flag-bg hide-on-small-only">
    <img src="images/flag_bg.png">
  </div>
</div>

<div ng-show="!loggedin && !loading" class="row secondary-bg" style="margin-bottom:0px;">
  <div class="row">

    <div class="col s12 offset-m3 m6 center white-text">
          <h4 class="card-title">Newsletter</h4>
          <p>Latest news about uMaster and get beta invites directly to your email</p>

          <div id="mc_embed_signup">
          <form action="//razvanilin.us8.list-manage.com/subscribe/post?u=40d7e47179bec7fefe203400c&amp;id=28a1e3a527" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          <div class="input-field" style="text-align:left">
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <label for="mce-EMAIL">Email Address </label>
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_40d7e47179bec7fefe203400c_28a1e3a527" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="waves-effect waves-light btn green"></div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
    </div>
  </div>
</div>
<!-- </div> -->

<div ng-show="!loggedin && !loading" class="secondary-bg">
  <div class="row">
    <div class="section centered white-text">
      <h4>uMaster allows you to remotely start activities on your personal computer.</h4>
    </div>
    <div class="section">
      <div class="row">
        <div class="col grey-text s12 m4">
          <div class="card z-depth-2 hoverable">
            <div class="card-content">
              <div class="center promo">
                <i class="material-icons">play_circle_outline</i>
                <p class="promo-caption">Plug and Play</p>
                <p> Easy setup for developers to create brand new activities using their very own scripts. Check out the <a href="https://github.com/razvanilin/uMaster/wiki/Register-activities" target="_blank">Wiki</a> for more information.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col grey-text s12 m4">
          <div class="card z-depth-2 hoverable">
            <div class="card-content">
              <div class="center promo">
                <i class="material-icons">settings_remote</i>
                <p class="promo-caption">No need to be there</p>
                <p>Need to open your favorite YouTube playlist or forgot your computer unlocked? No need to be near the computer, just grab a phone and start a new activity.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col grey-text s12 m4">
          <div class="card z-depth-2 hoverable">
            <div class="card-content">
              <div class="center promo">
                <i class="material-icons">group</i>
                <p class="promo-caption">Community shared activities</p>
                <p>Users will be able to request new activities and developers can contribute to the community by sharing theirs. All scripts will await approval.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row secondary-bg white-text" style="margin-bottom:0px">
    <div class="section centered">
      <div ng-if="scrollFireEngaged" scroll-fire="hideWall()" offset="0"></div>
      <h4>Early look</h4>
    </div>
    <div class="section">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card grey lighten-5 z-depth-2 hoverable" style="border-radius:10px">
          <img class="responsive-img" style="border-radius:10px" src="images/pc_client.png"></img>
          </div>
        </div>

        <div class="col s12 m6 l6 center">
          <h4>uMaster PC Client</h4>
          <div class="section left-align">
            <p class="flow-text">uMaster comes with two sleek PC clients, for Windows and MacOS. (Linux soon)</p>
            <p class="flow-text">The PC client enables you to create new activities and templates. The activities can be activated from the Web application. Once you log in on this website you will be able to view and activate all the activities created on your computer.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s12 m6 l6 center">
          <h4>Test your creativity with Templates</h4>
          <div class="section left-align">
            <p class="flow-text">The uMaster PC app lets you create your own templates.</p>
            <p class="flow-text">You can plug in your own script that you want to run remotely. The great thing is that you can use parameters and configure the template to add fields in the interface that act as parameter inputs.</p>
            <p class="flow-text">New activities can be created using the templates.</p>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="card grey lighten-5 z-depth-2 hoverable" style="border-radius:10px">
          <img class="responsive-img" style="border-radius:10px" src="images/templates.png"></img>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row">
        <div class="col s12 m3 offset-m1 l3 offset-l1">
          <div class="card grey lighten-5 z-depth-2 hoverable" style="border-radius:10px">
          <img class="responsive-img" style="border-radius:10px" src="images/mobile.png"></img>
          </div>
        </div>

        <div class="col s12 m6 offset-m1 l6 offset-l1 center">
          <h4>Responsive & Simple</h4>
          <div class="section left-align">
            <p class="flow-text">Navigating through the app menus feels like a breeze on both the PC client and Web App.</p>
            <p class="flow-text">The material design from Google offers a familliar view and experience. The activities can be launched easily from every device no matter what size the screen is.</p>
            <p class="flow-text">A mobile app is in development so make sure to subscribe to the newsletter to find the latest news about the future developments.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section center">
      <h4>Want to give it a go?</h4>
    </div>

    <div class="section center">
      <a class="waves-effect waves-light btn-large green" ng-click="signin()"><span class="flow-text">Give uMaster a go now</span></a>
    </div>

    <div class="divider top-buffer-sm"></div>

    <div class="row center top-buffer-sm" style="margin-bottom:50px">
      <div class="col s12 m12">
            <h4 class="card-title">Support the project</h4>
            <p class="flow-text">Found any issues or have any suggestions? Chat with me or feel free to open issues <a href="https://github.com/razvanilin/uMaster/issues" target="_blank">here</a>.</p>
            <p class="flow-text">This app is and will be offered for free. I work on it in my free time, evenings, early mornings and weekends.</p>
            <p>If you like uMaster I will appreciate if you buy me a coffee so I can transform it into code and make this project great.</p>
            <br />
            <a href="https://www.paypal.me/razvanilin/2" target="_blank" class="waves-effect waves-light btn green"><i class="fa fa-coffee fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>

<div ng-show="loggedin && scripts.length == 0" class="row centered">
  <p class="flow-text white-text">No activities yet, use the <a href="https://umaster-nuts.herokuapp.com/">PC client</a> to create some.</p>
</div>

<div ng-show="loggedin">

  <!-- All scripts section -->
  <div class="row">
    <div ng-repeat="scr in scripts" ng-show="scr.active">
      <div class="clearfix" ng-if="$index % 3 == 0"></div>
      <div class="col s12 m4">
        <div class="card grey lighten-5 z-depth-1 hoverable">
          <div class="card-content">
            <span class="card-title">
              <a href="#{{scr._id}}" class="grey-text text-darken-3" modal>{{scr.name}}</a>
            </span>
            <p class="truncate">
              <a href="#{{scr._id}}" class="grey-text text-darken-1" modal>{{scr.description}}</a>
            </p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light" ng-click="runScript(scr)"><i class="fa fa-rocket" aria-hidden="true"></i> Launch Activity</a>
          </div>
        </div>
      </div>

      <!-- Description modal -->
      <div id="{{scr._id}}" class="modal">
        <div class="modal-content">
          <h3>{{scr.name}}</h3>
          <p class="flow-text">{{scr.description}}</p>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect btn btn-flat">Close</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="termsModal" class="modal">
  <div class="modal-content">
    <h4 class="modal-title">Terms & Conditions</h4>
    <ng-include src="'views/terms.html'"></ng-include>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect btn-flat">Cancel</a>
  </div>
</div>


<!--footer class="footer" style="width:100%">
    <p class="text-muted" style="font-size:80%;">Developed by  <a href="http://razvanilin.com/">Răzvan Ilin</a> | uMaster Web - alpha </p>
</footer-->
