<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="javascript:void(0);">Account</a></li>
    <li class="divider"></li>
    <li><a ng-href="" ng-click="logout()">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a ng-href="" class="brand-logo center"><img src="images/logo-color.png" height="50px"></a>
      <!--ul class="right hide-on-med-and-down">
        <li><a href='#activityModal' modal class="pointer" ng-click="prepareScript()"><i class="fa fa-plus" aria-hidden="true"></i> Add Activity</a></li>
        <li><a class="pointer" ng-href="" onclick="location.reload()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</a></li>
        <li>
          <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1" dropdown>
            <img ng-src="{{profile.picture}}" class="circle" style="max-height:40px;margin-top:10px">
          </a>
        </li>
      </ul-->
    </div>
  </nav>
</div>
